/* MAIN PAGE CONTAINER STARTS */

.container {
    background-color: var(--dark-blue);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:
    72px [header]
    910px [sliders]
    315px [title]
    1fr [intro-ranking]
    1fr [content-ranking]
    1000px [content]
    1fr [content];
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "sliders sliders sliders sliders"
      "title title title title"
      ". intro intro ranking"
      ". content content ranking"
      ". content content ."
      ". content content .";
  }
  
/* MAIN PAGE CONTAINER ENDS ****/

/* FIRST > HEADER SECTION STARTS  */
  .header {
    grid-area: header;

  }

  .nav-control {
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: solid 1px black
  }
/* 
  .nav-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
} */




/* FIRST > HEADER SECTION ENDS ****/

/* SLIDERS SECTION STARTS */
  
.sliders {
    grid-area: sliders;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.sliders-details {
  position: absolute;
  inset:0;
  display: grid;
  grid-template-areas:
  'sliders-left sliders-right';
}

.sliders-left {
  grid-area: sliders-left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  z-index: 1;
}


.sliders-right {
  grid-area: sliders-right;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  color:whitesmoke;
}

.sliders-left button {
  width: 200px;
  font-size: 30px;
  position: relative;
  top:25px;
  align-self: center;
	background-color:#1e62d0;
	border-radius:28px;
	border:1px solid var(--darker-blue);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Oswald;
  letter-spacing: 1px;
	font-size:20px;
	padding:13px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.sliders-left button:active {
  position: relative;
  top:26px;
}

.sliders-left button:hover {
  background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}

.sliders-left p {
  font-size:70px;
}

.sliders-right p {
  font-size:70px;
  mix-blend-mode:soft-light;
}

.sliders-right > span {
  font-size:70px;
  margin-left:5.3rem;
}



.sliders-right h2 {
  color: aqua;
 /*  text-align: center; */
}

.sliders-right li:hover {
  color:rgb(13, 95, 161);
}

.social {
  display: flex;
  gap:2rem;
  font-size: 60px;
}

.social li {
  cursor: pointer;
}

.sliders > .overlay {
  position:absolute;
  inset:0;
  background-color: rgba(0, 0, 0, 0.4)
}

.sliders .first-video {
  width: 100%;
  height: 800px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black 100%);
  mask-image: linear-gradient(to top, transparent 1%, black 100%);
} 

/* SLIDERS SECTION ENDS *****/

/* TITLE SECTION STARTS */

.title {
    grid-area: title;

    background-color: var(--darker-blue);
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "left-splash middle-splash right-splash";
}

.left-splash {
  grid-area: left-splash;
}


/* --darker-blue: #0b0c10;
--dark-blue: #101319;
--lighter-blue: #1F2833;
--smokey: #c5c6c7;
--light-aqua: #66FCF1;
--dark-aqua: #45A29E;
--alternative-dark-blue: #2e3047;
--alternative-purple: rgb(105, 70, 230);
 */

.left-splash > .title1 {
  display: flex;
  color: whitesmoke;
  font-size: 25px;
  background-color: var(--dark-blue);
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.left-splash > .title1 > img {
  margin-left:10px;
}

.left-splash > .title1 > div > p {
  color:lightslategray;
  line-height: 50px;
  padding:12px;
}

.left-splash > .title1 > div > h2 {
  padding:4px;
  font-size: 30px;
  margin-left:26px;
  background: #70B6CF;
  background: #70B6CF;
  background: -webkit-linear-gradient(to right, #70B6CF 0%, #6F54C7 100%);
  background: -moz-linear-gradient(to right, #70B6CF 0%, #6F54C7 100%);
  background: linear-gradient(to right, #70B6CF 0%, #6F54C7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.middle-splash {
  grid-area: middle-splash;

}

.middle-splash > .title2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-splash {
  grid-area: right-splash;

}

.right-splash > .title3 {
  display: flex;
  color: whitesmoke;
  font-size: 35px;
}

.right-splash > .title3 > div {
  padding:10px;
  color:lightslategray;
  font-size: 25px;
  line-height: 50px;
  background-color: var(--dark-blue);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.right-splash > .title3 > div > h2 {
  background: #70B6CF;
  background: #70B6CF;
  background: -webkit-linear-gradient(to right, #70B6CF 0%, #6F54C7 100%);
  background: -moz-linear-gradient(to right, #70B6CF 
  0%, #6F54C7 100%);
  background: linear-gradient(to right, #70B6CF 0%, #6F54C7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* TITLE SECTION ENDS *****/
  
/* INTRO SECTION STARTS */
  .intro {
    grid-area: intro;
    border: solid 3px rgb(0, 225, 255);
    background-color: var(--darker-blue);
}

/* INTRO SECTION ENDS *****/
  
/* CONTENT SECTION STARTS */
  .content {
    grid-area: content;
    border: solid 3px rgb(0, 4, 255);
    background-color: var(--darker-blue);
}

/* CONTENT SECTION ENDS *****/
  
/* RANKING SECTION STARTS */
  .ranking {
    grid-area: ranking;
    border: solid 3px rgb(255, 0, 242);
    background-color: var(--darker-blue);
}

/* RANKING SECTION ENDS *****/


/* LEGACY GRID SUPPORT INTERNET EXPLORER 10/11 STARTS */

/* @media all and (-ms-high-contrast:none) {

    .container {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 60px 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
    }
    
    .top-nav {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-column-span: 3;
    }
    
    .sliders {
      -ms-grid-row: 2;
      grid-row: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-column-span: 3;
    }
    
    .title {
      -ms-grid-row: 3;
      grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-column-span: 2;
    }
    
    .intro {
      -ms-grid-row: 4;
      grid-row: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-column-span: 0;
    }
    
    .content {
      -ms-grid-row: 5;
      grid-row: 5;
      -ms-grid-row-span: 3;
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-column-span: -1;
    }
    
    .ranking {
      -ms-grid-row: 4;
      grid-row: 4;
      -ms-grid-row-span: 2;
      -ms-grid-column: 4;
      grid-column: 4;
      -ms-grid-column-span: 1;
    }

    /* LEGACY GRID SUPPORT INTERNET EXPLORER 10/11 ENDS */


  body {
    background-color: var(--alternative-dark-blue);
  }

  /* darker blue pt mid, si alternative dark blue pt outer */