.li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    margin: 10px 0;
    background-image: url('https://images.unsplash.com/photo-1607128849509-bdccb1b58d09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(49% 0, 100% 0, 100% 70%, 50% 100%, 0% 70%, 0 0);
    clip-path: polygon(49% 0, 100% 0, 100% 70%, 50% 100%, 0% 70%, 0 0); 
    max-width: 300px;
}

.li a {
    position: absolute;
    inset:0;
    z-index:5;
}

.li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 100%, 0% 80%, 0 0);
    clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 100%, 0% 80%, 0 0); 
}

.level {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.avatar {
    border-radius: 48px;
}

.name {
    color:slateblue;
    font-size: 25px;
}

.owner {
    color:gold;
}

.member-options-btn {
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 27px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.options-container {
    position: relative;
}

.remove-user-btn {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    width: 31px;
    height: 31px;
    border-radius: 50%;
    position: absolute;
    top:48px;
    z-index: 9;
}

.remove-user-btn i {
    font-size: 20px;
}

.level {
    margin-bottom: 0px;
}


/* modifiers */

.isOwner {
    margin-bottom: 45px;
}