.leaderboard {
    background-color: var(--lighter-blue);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas:
      "search search search"
      "display display display"
      "options options options";

  }

  
  
  .search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .display {
    grid-area: display;
}
  
  .options {
    grid-area: options;
    display: flex;
    justify-content: center;
    align-items: center;
}
  