.leaderboard {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas:
      "search search search"
      "display display display"
      "options options options";

  }

  
  
  .search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .display {
    grid-area: display;
}
  
  .options {
    grid-area: options;
    display: flex;
    justify-content: center;
    align-items: center;
}
  