
.ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:120px;
    /* background-color: rgb(0, 174, 255); */
    background-color: rgb(105, 70, 230);
}

.logout {
    margin-left:auto;
    margin-right:18px;
    position: relative;
    right:8px;
}

.logout button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:36px;
    width:70px;
    height:42px;
    border-radius: 20px;
    border:none;
    margin-left:auto;
    background-color: rgba(240, 248, 255,0.4);
  }

  .logout button:active {
    color:rgba(255, 0, 0, 0.692);
  }

.main-logo {
    margin-top: 12px;
    margin-right:auto;
    margin-left:18px;
    position: relative;
    bottom:7px;
  }

.ul li {
    color:rgb(0, 0, 0);
}

.ul li i {
    font-size: 36px;
}
