.label {
    color:rgba(255, 255, 255, 0.767);
    font-size: 30px;
}

.wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top:15px;
}

.wrapper select {
    background-color: transparent;
    outline: none;
    border: none;
    color: #80374f;
    font-size: 20px;
    width: fit-content;
    border-bottom: solid 1px black;
}

.wrapper select * {
    color:#80374f;
    background-color: var(--smokey);
}

.h2 {
    color: #80374f;
    font-size: 40px;
    font-family: Anton;
    letter-spacing: 4px;
    font-weight: 100;
}
