.label {
    color: whitesmoke;
    font-size: 30px;
}

.wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.h2 {
    color: #80374f;
    font-size: 40px;
    font-family: Rubik Glitch;
    font-weight: 100;
}
