.submit {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 42px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }

  .form-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    gap: 100px;
  }

  .form {
    display: flex;
    justify-content: center;
    gap:80px;
    align-items: center;
    flex-direction: column;
  }

  .form-container > h2 {
    color: slategray;
    font-size: 32px;
    border-bottom: solid;
  }
  
  
  .submit:focus-visible, .back:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .submit:active, .back:active {
    background-color: #f7f7f750;
    border-color: #000000;
    transform: scale(.96);
  }

  .select {
    text-align: center;
    font-size: 20px;
    width: 210px;
    outline: 0;
    border: none;
    box-shadow: none;
    color:whitesmoke;
    background-color: transparent;
    cursor: pointer;
    border-bottom: solid 1px rgb(172, 238, 250);
  }
  
  .select * {
    background-color: rgb(136, 157, 172);
  }
  
  .search input {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
    border:none;
    border-bottom: solid 1px var(--gray);
    color: whitesmoke;
  }

  /* SUBMIT BTN */

  .btn-wrapper {
    position: relative;
    top:119px;
  }

  .submit {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  
  .submit:focus-visible, .back:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .submit:active, .back:active {
    background-color: #f7f7f750;
    border-color: #000000;
    transform: scale(.96);
  }

  /* SUBMIT BTN */